h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(/resources/images/pattern.webp);
}

h3.products {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;    
}

span.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}
#frames{
    background-color: lightcoral;
}
#paint{
    background-color: skyblue;
}